.btn {
  text-align: center;
  font-weight: 700;
  box-shadow: none;
  border: 0;
  border-radius: 5px;
}

.effect-hover-expand:hover {
  color: rgb(39, 40, 42);
  transform: scale(1.02, 1.04);
}

.hover-shadow:hover{
  opacity: 1;
}
