/* stylelint-disable */
@import "../../resource/css/base";

.content-box {

  .module-page-1 {
    height: calc(-7.5em + 100vh);
    padding: 0px 20px 27px;
    width: 100%;
    box-sizing: border-box;
    position: relative;

    .css-video {
      position: relative;
      min-width: 100% !important;
      height: 100% !important;
      margin: 0;
      padding: 0;
      overflow: hidden;

      video {
        position: absolute;
        //z-index: 0;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
      }
    }

    .desc {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 40%;
      font-size: 40px;
      line-height: 40px;
      font-family: Quarto;
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      padding: 2.5rem;
    }

    @media only screen and (min-width: 600px) {
      .desc {
        opacity: 1;
        animation: 0.5s ease-in 0s 1 normal none running;
        font-size: 55px;
        line-height: 55px;
        font-weight: bold;
        text-align: center;
        z-index: 1;
        padding: 0 40px;
        margin: 0 0 50px;
      }
    }

    .btn-div {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 35%;
      -webkit-box-align: center;
      align-items: center;
      cursor: pointer;
      display: flex;
      font-weight: 600;
      -webkit-box-pack: center;
      justify-content: center;
      letter-spacing: 0.8px;
      perspective: 1000px;
      text-align: center;
      transform: translateZ(0px);
      white-space: nowrap;
      pointer-events: inherit;
      color: rgb(39, 40, 42);
      font-family: proxima-nova, "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16.8px;
      height: 48px;
      line-height: 16.8px;
      text-transform: uppercase;
      width: auto;
      border-width: 0;
      outline: 0;
      text-decoration: none;
      transition: all 0.1s linear 0s;
      border-radius: 2px;
      padding: 0 24px;
    }

  }

  @media only screen and (min-width: 600px) {
    .module-page-1 {
      padding: 0 40px 58px;
    }
  }

  .module-page-2 {
    width: 100%;
    margin-top: 75px;
    margin-bottom: 75px;
    background-size: 56%;
    padding-top: 90px;
    position: relative;
    overflow: hidden;

    .css-video {
      position: absolute;
      top: 0px;
      left: -10px;
      width: 82%;
      object-fit: cover;
      overflow: hidden;

      video {
        clip-path: inset(2px);
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }

    .cover {
      background: url('../../resource/image/iMac_Perspective_SharonIrving.png') 30px 0px / contain no-repeat;

      .cover-desc {
        position: relative;
        top: inherit;
        left: inherit;
        max-width: 448px;
        box-sizing: border-box;
        padding: 40% 50px 0px 40px;
        margin: auto;

        // license 描述
        .license-desc {
          font-size: 25px;
          text-align: center;
          color: rgb(39, 40, 42);
          font-weight: 700;
          line-height: 25px;
          margin-bottom: 15px;
        }

        @media only screen and (min-width: 600px) {
          .license-desc {
            font-size: 36px;
            line-height: 48px;
            text-align: left;
          }
        }
        // feature描述
        .feature-desc {
          font-size: 15px;
          color: rgb(143, 145, 148);
          line-height: 21px;
          margin-bottom: 35px;
          text-align: center;
        }

        @media only screen and (min-width: 600px) {
          .feature-desc {
            text-align: left;
            font-size: 18px;
            line-height: 30px;
          }
        }

        // 按钮  icon
        .go-songs-btn {
          font-size: 14px;
          font-weight: normal;
          text-transform: uppercase;
          max-width: 355px;
          display: block;
          border-radius: 2px;
          transition: all 0.2s ease 0s;
        }

        @media only screen and (min-width: 900px) {
          .go-songs-btn {
            display: inline-block;
          }
        }

      }

      @media only screen and (min-width: 1440px) {
        .cover-desc {
          left: 70%;
        }
      }

      @media only screen and (min-width: 900px) {
        .cover-desc {
          position: absolute;
          top: 60%;
          left: 60%;
          padding-top: 0px;
        }
      }
    }

    .cover-g {
      padding-top: 64%;
      position: relative;
    }

    @media only screen and (min-width: 900px) {
      .cover.cover-g {
        background: url('../../resource/image/iMac_Perspective_SharonIrving.png') 30px 0px / contain no-repeat;
      }
    }
    @media only screen and (min-width: 600px) {
      .css-video {
        width: 70%;
      }
    }
  }

  .module-page-3 {
    //height: 744px;
    padding-bottom: 270px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0) radial-gradient(circle at center center, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%) repeat scroll 0% 0%;
      z-index: 1;
    }

    .desc {
      position: absolute;
      bottom: 80px;
      width: 100%;
      z-index: 2;
      text-align: center;

      .text {
        color: rgb(39, 40, 42);
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 30px;
        text-align: center;
      }

      .desc-btn {
        font-size: 14px;
        color: rgb(255, 255, 255);
        background: rgb(9, 166, 167) none repeat scroll 0 0;
        border-radius: 2px;
        text-transform: uppercase;
        padding: 12px 20px;
        width: 100%;
        transition: all 0.2s ease 0s;
        text-align: center;
        display: inline-block;
      }


      @media only screen and (min-width: 900px) {
        .text {
          font-size: 40px;
        }
      }
      @media only screen and (min-width: 600px) {
        .text {
          font-size: 30px;
          margin-bottom: 40px;
          text-align: left;
        }
        .desc-btn {
          padding: 15px 60px;
          width: auto;
        }
      }
    }


    // ~~~~ 如何构建可缩放的flex 盒子 等比缩放图片 ~~~~ 图片要求svg
    .company-wall {
      display: flex;
      flex-direction: column;
      align-items: center;

      .company-wall-column {
        display: flex;
        width: 100%;
        // 建立框子大小
        .block {
          position: relative;
          flex: 1 1 200px;
          // 盒子填充
          .inner {
            background-size: cover;
            position: absolute;
            inset: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-left: 1px solid rgb(200, 207, 210);
            border-top: 1px solid rgb(200, 207, 210);

            // 有图片的 wrapper
            .wrapper {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              display: flex;
              flex-direction: column;
              -webkit-box-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              align-items: center;
              text-align: center;
              padding: 25px;

              img {
                border-style: none;
                max-width: 100%;
              }
            }
          }

          .inner.bln {
            border-left: medium none;
          }

          .inner.btn {
            border-top: medium none;
            border-radius: 0;
          }
        }

        // 直接伪元素填充
        .block::before {
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          // 关键步骤 撑开高度
          padding-top: calc(89.9039%) !important;
        }

        /*
          带视频的内容体  div  .left .center .right
        */

        .left {
          display: none;
          flex: 4 1 656px;
          flex-direction: column;

          .top, .bottom {
            width: 900px;
            display: flex;

          }

          // 屏幕宽度> 900px
          @media only screen and (min-width: 900px) {
            .top, .bottom {
              width: 100%;
            }
          }
        }


        .center {
          // 视频盒子
          display: flex;
          flex: 4 1 656px;
          border-top: 1px solid rgb(200, 207, 210);
          border-left: 1px solid rgb(200, 207, 210);
          -moz-box-align: center;
          align-items: center;
          -moz-box-pack: center;
          justify-content: center;

          .box {
            width: 100%;
            position: relative;
            z-index: 3;
            padding: 10px;

            // video-wrapper
            .about-us-video-wrapper {
              position: relative;
              overflow: hidden;

              // 视频主体内容
              .video {
                position: relative;
                padding-bottom: 43%;
                height: 0;
                margin-bottom: 0;
                overflow: hidden;

                iframe {
                  height: 100%;
                  left: 0;
                  position: absolute;
                  top: 0;
                  width: 100%;
                }
              }

              // 视频遮罩 图层
              .cover-image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 10;
                cursor: pointer;
                height: 100%;

                img {
                  width: 100%;
                  height: 100%;
                  border-style: none;
                }

                // 点击按钮
                .cover-btn {
                  height: 50px;
                  width: 75px;
                  background-size: 95px 95px;
                  position: absolute;
                  top: 50%;
                  margin-top: -25px;
                  left: 50%;
                  margin-left: -37.5px;

                  // 按钮图片
                  img {
                    position: relative;
                    top: 0;
                    left: 0;
                    margin-top: 0;
                    margin-left: 0;
                    border-style: none;
                  }

                  @media only screen and (min-width: 900px) {
                    img {
                      width: 100% !important;
                    }
                  }
                }

                // 屏幕小于 900 宽度
                @media only screen and (min-width: 900px) {
                  img {
                    width: inherit;
                  }
                }

                // 屏幕小于600宽度
                @media only screen and (min-width: 600px) {
                  .cover-btn {
                    height: 66px;
                    width: 100px;
                    margin-left: -50px;
                    margin-top: -33px;
                  }
                }
              }
            }
          }
        }

        .right {
          display: none;
          flex: 1 1 164px;
          flex-direction: column;

          .top, .bottom {
            width: 900px;
            display: flex;

          }

          // 屏幕宽度小于 900px
          @media only screen and (min-width: 900px) {
            .top, .bottom {
              width: 100%;
            }
          }
        }


        // 至少  900px  才有 左右
        @media only screen and (min-width: 900px) {
          .left, .right {
            display: flex;
          }
        }

      }

      @media only screen and (min-width: 900px) {
        .GridRowMobile {
          display: none;
          width: 100%;
        }
      }
    }

    @media only screen and (min-width: 900px) {
      .company-wall {
        align-items: flex-start;
      }
      .desc {
        top: 85px;
        max-width: 440px;
      }
    }
    @media only screen and (min-width: 600px) {
      .desc {
        bottom: inherit;
        top: 65px;
        left: 12%;
        text-align: left;
        padding: 0;
        max-width: 280px;
      }
    }
  }

  // 填充阴影效果
  .module-page-3::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  }

  @media only screen and (min-width: 600px) {
    .module-page-3 {
      padding-bottom: 0;
      padding-top: 170px;
    }
  }
}

